{% extends 'layout/layout.html' %}

{% block content %}
    <a href="{% url 'userinfo-add' %}" class="btn btn-primary">添加用户</a>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>用户名</td>
            <td>密码</td>
            <td>性别</td>
            <td>部门</td>
            <td>添加时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {% for user in  users %}
            <tr>
                <th>{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.get_gender_display }}</td>
                <td>{{ user.department.name }}</td>
                <td>{{ user.create_time|date:'Y-m-d H:i:s' }}</td>
                <td>
                    <a href="{% url 'department-add' %}" class="btn btn-primary">编辑</a>
                    <a href="{% url 'userinfo-destroy' user.id %}" class="btn btn-danger">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}